{% extends "base.html" %}
{% load static %}
{% block title %}追加{% endblock %}
{% block body %}<body>{% endblock %}
{% block header %}
<div id="logo">
	<h1><a href="{% url 'kakeiboapp:index'%}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
</div>
{% endblock header %}
{% block contents %}
<section>
    <form method="post">
        {% csrf_token %}
        <table class="ta1">
            {% comment %} <tr>
                <th>ユーザー</th>
                <td>{{form.user}}</td>
            </tr> {% endcomment %}
            <tr>
                <th>日付</th>
                <td>{{form.date}}</td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td>{{form.title}}</td>
            </tr>
            <tr>
                <th>金額</th>
                <td>{{form.amount}}</td>
            </tr>
            <tr>
                <th>コメント</th>
                <td>{{form.comment}}</td>
            </tr>
            <tr>
                <th>カテゴリー</th>
                <td>{{form.category}}</td>
            </tr>
        </table>
        <br><p class="btn"><input type="submit" value="追加"></p>
    </form>
</section>
{% endblock contents %}