{% extends "base.html" %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block header%}
<div id="logo">
	<h1><a href="{% url 'kakeiboapp:index'%}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
</div>
{% endblock %}
{% block body %}<body>{% endblock %}
{% block contents%}
  <section>
    <div class="pad">
      <h2>KAKEIBOAPP</h2>
      <h4>
        新しいパスワードを2回入力してください。これにより、
        正しく入力できたことが確認されます。
      </h4>
      <br>
      <!-- フォームを配置-->
      <form method="POST">
        {% csrf_token %}
        <!-- formに格納されている要素をすべてを出力 -->
        {{form}}
        <!-- パスワードリセットボタン-->
        <p class="btn"><input type="submit" value="パスワードリセット"/></p>
      </form>
    </div>
  </section>
{% endblock %}