{% extends "base.html" %}
{% load static %}
{% block title %}パスワードリセット完了{% endblock %}
{% block header%}
<div id="logo">
	<h1><a href="{% url 'kakeiboapp:index'%}"><img src="{% static 'images/logo.png' %}" alt="SAMPLE COMPANY"></a></h1>
</div>
{% endblock %}
{% block body %}<body>{% endblock %}
{% block contents%}
    <section>
    <div class="pad">
      <h2>パスワードがリセットされました。</h2>
      <p>
        Your Password has been set. You may go ahead and login
      </p>
      <br>
      <!-- トップページへのリンク-->
      <a href="{% url 'kakeiboapp:index' %}">KAKEIBOAPPのトップページへ</a>
    </div>
  </section>
{% endblock %}